[Using machine learning for language detection](https://heartbeat.comet.ml/using-machine-learning-for-language-detection-517fa6e68f22)

In [25]:
from pandas import concat, read_csv, DataFrame
from os import walk

In [26]:
path: str = "./training"

In [27]:
files = []
for dirpath, dirnames, filenames in walk(path):
    files.extend(filenames)
files.sort()
len(files)

74

In [28]:
languages_data_frame: DataFrame = DataFrame(
    data={"Text": [], "Language": []}, columns=["Text", "Language"]
)
for file in files:
    language_data_frame: DataFrame = read_csv(f"{path}/{file}")
    language_data_frame_first_400 = language_data_frame.head(400)
    languages_data_frame = concat([languages_data_frame, language_data_frame_first_400])
languages_data_frame.to_csv("./full_dataset.csv", index=False)
languages_data_frame

                                                  Text   Language
0    In die begin het God die hemel en die aarde ge...  Afrikaans
1    En die aarde was woes en leeg, en duisternis w...  Afrikaans
2    En God het gesê: Laat daar lig wees! En daar w...  Afrikaans
3    Toe sien God dat die lig goed was. En God het ...  Afrikaans
4    en God het die lig dag genoem, en die duistern...  Afrikaans
..                                                 ...        ...
395  Ngalokho umthombo wabizwa ngokuthi iBeri Lahay...       Zulu
396  UHagari wamzalela u-Abrama indodana; u-Abrama ...       Zulu
397  U-Abrama wayeneminyaka engamashumi ayisishiyag...       Zulu
398  U-Abrama eneminyaka engamashumi ayisishiyagalo...       Zulu
399  Ngiyakwenza isivumelwano sami phakathi kwami n...       Zulu

[22797 rows x 2 columns]

In [29]:
languages = list(languages_data_frame["Language"].unique())
languages

['Afrikaans',
 'Albanian',
 'Amharic',
 'Arabic',
 'Armenian',
 'Basque',
 'Bengali',
 'Bulgarian',
 'Chinese',
 'Creole',
 'Croatian',
 'Czech',
 'Danish',
 'Dutch',
 'English',
 'Esperanto',
 'Estonian',
 'Farsi',
 'Finnish',
 'French',
 'German',
 'Greek',
 'Gujarati',
 'Hebrew',
 'Hindi',
 'Hungarian',
 'Icelandic',
 'Indonesian',
 'Italian',
 'Japanese',
 'Kannada',
 'Korean',
 'Latin',
 'Latvian',
 'Lithuanian',
 'Malayalam',
 'Marathi',
 'Myanmar',
 'Nepali',
 'Norwegian',
 'Oriya',
 'Polish',
 'Portugeese',
 'Romanian',
 'Russian',
 'Serbian',
 'Slovak',
 'Somali',
 'Spanish',
 'Swedish',
 'Tamil',
 'Telugu',
 'Thai',
 'Turkish',
 'Ukranian',
 'Vietnamese',
 'Xhosa',
 'Zulu']

In [30]:
len(languages)

58