In [58]:
import pandas
import requests

In [59]:
url = "https://api.quotable.io/quotes?page=1&limit=150"
response = requests.get(url)
data: dict = response.json()
totalPages = data.get("totalPages", 0)
quotes = []
for page in range(1, totalPages + 1):
    page_url = f"https://api.quotable.io/quotes?page={str(page)}&limit=150"
    print("page", page, page_url)
    response = requests.get(page_url)
    data: dict = response.json()
    results = data.get("results", [])
    quotes = quotes + results

page 1 https://api.quotable.io/quotes?page=1&limit=150
page 2 https://api.quotable.io/quotes?page=2&limit=150
page 3 https://api.quotable.io/quotes?page=3&limit=150
page 4 https://api.quotable.io/quotes?page=4&limit=150
page 5 https://api.quotable.io/quotes?page=5&limit=150
page 6 https://api.quotable.io/quotes?page=6&limit=150
page 7 https://api.quotable.io/quotes?page=7&limit=150
page 8 https://api.quotable.io/quotes?page=8&limit=150
page 9 https://api.quotable.io/quotes?page=9&limit=150
page 10 https://api.quotable.io/quotes?page=10&limit=150
page 11 https://api.quotable.io/quotes?page=11&limit=150
page 12 https://api.quotable.io/quotes?page=12&limit=150
page 13 https://api.quotable.io/quotes?page=13&limit=150
page 14 https://api.quotable.io/quotes?page=14&limit=150
page 15 https://api.quotable.io/quotes?page=15&limit=150

In [60]:
len(quotes)

2127

In [61]:
quotes_df = pandas.DataFrame(quotes)
quotes_df = quotes_df[["author", "content"]]
quotes_df = quotes_df.sort_values(by=["author", "content"])
quotes_df = quotes_df.drop_duplicates(subset=["author", "content"])
quotes_df.to_csv("./eng/quotes.csv", index=False)
quotes_df

                    author                                            content
1823           A. A. Milne  If you live to be a hundred, I want to live to...
470            A. A. Milne  One of the advantages of being disorderly is t...
811   A. P. J. Abdul Kalam  Let us sacrifice our today so that our childre...
601   A. P. J. Abdul Kalam  We should not give up and we should not allow ...
1488      A. Powell Davies              Life is just a chance to grow a soul.
...                    ...                                                ...
1608            Zig Ziglar  Positive thinking will let you do everything b...
1599            Zig Ziglar   Remember that failure is an event, not a person.
1991            Zig Ziglar  What you get by achieving your goals is not as...
1070            Zig Ziglar  You are the only person on earth who can use y...
905             Zig Ziglar  Your attitude, not your aptitude, will determi...

[2086 rows x 2 columns]

In [63]:
quotes_df.shape

(2086, 2)